---
import  DarkMode  from '../components/DarkMode'
import "../styles/index.css"
import "../styles/global.css"
---

<html lang="en" class="dark">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ndanyikevin | Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class="antialiased dark:bg-darkTheme dark:text-white leading-6 overflow-x-hidden dark:bg-darkTheme dark:text-white">
<DarkMode client:load />
</body>
</html>
